<%= form_tag(controller: "dashboard", action: "index", method: "post") do %>
	<% current_user.courses.each do |course| %>
	<tr>
		<% if current_user.try(:facilitator?) %>
			<td><%= link_to course.title, course, {:style=>'font-size: 120%;'} %></td>
			<td><%= course.category %></td>
			<td><%= course.units %></td>
			<td><%= course.days %></td>
			<td><%= course.time %></td>
			<td><%= course.status %></td>
			<!-- <td><%= link_to 'Show', course %></td> -->
			<td><%= link_to 'Edit', edit_course_path(course) %></td>
<!-- 			<td><%= link_to 'Destroy', dashboard_path(:id => course.id), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
			<td><%= check_box_tag(course.title) %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<%= submit_tag("Unfacilitate These Courses",:class=>'btn btn-primary')%>
<% end %>