<%= form_tag(controller: "facilitator", action: "index", method: "post") do %>
  <% if !@course.requests.blank? %>
  <table class="std">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @course.requests.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= check_box_tag(user.email) %></td>
        </tr>
      <% end %>

    </tbody>

  </table>
</br>
  <%= hidden_field_tag :course, @course.id %>
  <%= submit_tag("Add These Facilitators",:class=>'btn btn-primary', :id => "add_these_facilitators")%>
  <% else %>
    <h5>There have been no new requests to faciliate this course</h5>
  <% end %>

<% end %>
