
<div class="row">
  <form class="form-inline">
    <div class="form-group col-md-4 box">
      <h3>Manage</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= "active" if params[:tab] == 'curr'%>"><%= link_to 'APPROVED COURSES', admin_index_path(:tab => 'curr'), {:class => "btn btn-primary"} %><li>
        <li class="<%= "active" if params[:tab] == 'pending'%>"><%= link_to 'PENDING COURSES', admin_index_path(:tab => 'pending'), {:class => "btn btn-primary"} %></li>
        <li class="<%= "active" if params[:tab] == 'manageadmins'%>"><%= link_to 'FACILITATORS', admin_index_path(:tab => 'manageadmins'), {:class => "btn btn-primary"} %></li>
      </ul>    
      <br/>

      <%if params[:tab] != "manageadmins"%>
        <%= form_for(admin_index_path, method: :get, id: 'units_form') do %>
          <%= hidden_field_tag :tab, params[:tab] %>
          <%= render 'shared/search_form' %>
        <% end %>
        </div>
        <% @access = 'admin' %>
        <%= form_tag(controller: "admin", action: "index", method: "post") do %>
          <%= hidden_field_tag :tab, params[:tab] %>
          <div class="col-md-8">
            <%= render 'shared/course_table' %>
            <div class="pull-right">
              <% if params[:tab] == "pending" %>
                <%= submit_tag("Approve Course(s)",:class=>'btn btn-primary')%>
              <% else %>
                <%= submit_tag("Unapprove Course(s)",:class=>'btn btn-primary')%>
              <% end %>
            </div>
          </div>
        <% end %>
      <%else%>
        </div>
        <div class="col-md-8">
          <%= render 'shared/user_table' %>
        </div>
      <%end%>
    </div>
  </form>
</div>
