<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <%= link_to 'APPROVED COURSES', admin_index_path(:tab => 'curr'), {:class => "btn btn-primary"} %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to 'PENDING COURSES', admin_index_path(:tab => 'pending'), {:class => "btn btn-primary"} %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to 'MANAGE FACILITATORS', admin_index_path(:tab => 'manageadmins'), {:class => "btn btn-primary"} %>
  </div>
</div>

<div>
  <% if params[:tab] == "curr" %>
    <h3>Approved Courses</h3>
  <%end%>
  <% if params[:tab] == "pending" %>
    <h3>Pending Courses</h3>
  <%end%>
  <% if params[:tab] == "manageadmins" %>
    <h3>Manage Admins</h3>
  <%end%>
</div>

<%if params[:tab] != "manageadmins"%>
  <form class="form-inline">
  <%= form_for(admin_index_path, method: :get, id: 'units_form') do %>
    <%= hidden_field_tag :tab, params[:tab] %>
    <%= render 'courses/search_form' %>
  <% end %>
  <br></br>
  <%= form_tag(controller: "admin", action: "index", method: "post") do %>
    <%= render 'shared/course_table' %>
    <% if params[:tab] == "pending" %>
      <%= submit_tag("Approve Course(s)",:class=>'btn btn-primary')%>
    <% else %>
      <%= submit_tag("Unapprove Course(s)",:class=>'btn btn-primary')%>
    <% end %>
  <% end %>
<%else%>
<%end%>



