<table class="table table-hover">
  <tr>
    <th>Course Title</th>
    <th>Category</th>
    <th>Units</th>
    <th>Time</th>
    <th>Status</th>
    <% if @more == 'favorite' %>
      <th>Unfavorite</th>
    <% end %>
    <% if @more == 'admin' or @more == 'facilitator' %>
      <th>Edit</th>
      <% if @more == 'admin' %>
          <th>Syllabus</th>
          <th>CPF</th>
        <% if params[:tab] == 'pending'%>
          <th>Approve</th>
        <%else%>
          <th>Unapprove</th>
        <%end%>
      <% elsif @more == 'facilitator' %>
        <th>Unfacilitate</th>
      <% end %>
    <% end %>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.title, course, {:style=>'font-size: 120%;'} %></td>
      <td><%= course.category %></td>
      <td><%= course.units %></td>
      <% if course.sections.blank? %>
        <td><%= 'TBA' %></td>
        <td><%= '---' %></td>
      <% else %>
        <td><% course.sections.each do |section| %>
          <%= section.full_time %>
          <br></br>
        <% end %></td>
        <td><% course.sections.each do |section| %>
          <%= section.status %>
          <br></br>
        <% end %></td>
      <% end %>
      <% if @more == 'favorite' %>
        <td><%= button_to "delete", {:controller => :courses, :action => 'unfavorite', :id => course.id}, :method => :delete %><td>
      <% end %>
      <% if @more == 'admin' or @more == 'facilitator' %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <% if @more == 'admin' %>
          <% if course.has_syl? %>
            <% course.uploads.each do |upload| %>
              <% if upload.syl? %>
                <td><%= link_to "Syllabus", upload.attachment_url, {:style => "color: green"} %></td>
              <% end %>
            <% end %>
          <% else %>
            <td style="color:red">No Syllabus Uploaded!</td>
          <% end %>
          <% if course.has_cpf? %>
            <% course.uploads.each do |upload| %>
              <% if upload.cpf? %>
                <td><%= link_to "CPF", upload.attachment_url, {:style => "color: green"} %></td>
              <% end %>
            <% end %>
          <% else %>
            <td style="color:red">No CPF Uploaded!</td>
          <% end %>
          <td><%= check_box_tag("course_ids[#{course.id}]") %></td>
        <% elsif @more == 'facilitator' %>
          <td><%= button_to 'Unfacilitate', course_facilitator_delete_path(:course_id => course.id, :user_id => current_user.id, :page => @page), method: :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
