<table class="table table-hover">
  <tr>
    <th>Course Title</th>
    <th>Category</th>
    <th>Units</th>
    <th>Time</th>
    <th>Status</th>
    <% if @access %>
      <th>Edit</th>
      <% if @access == 'admin' %>
        <% if params[:tab] == "pending" %>
          <th>Approve</th>
        <%else%>
          <th>Unapprove</th>
        <%end%>
      <% else %>
        <th>Unfacilitate</th>
      <% end %>
    <% end %>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.title, course, {:style=>'font-size: 120%;'} %></td>
      <td><%= course.category %></td>
      <td><%= course.units %></td>
      <td><% course.sections.each do |section| %>
        <% if section.filled? %>
          <%= section.full_time %>
        <% else %>
          <%= 'TBA' %>
        <% end %>
        <br></br>
      <% end %></td>
      <td><% course.sections.each do |section| %>
        <%= section.status %>
      <br></br>
      <% end %></td>
        <br></br>
      
      <% if @access %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <% if @access == 'admin' %>
          <td><%= check_box_tag(course.title) %></td>
        <% else %>
          <td><%= button_to 'Unfacilitate', course_facilitator_delete_path(:course_id => course.id, :user_id => current_user.id, :page => @page), method: :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
