<table class="table table-hover">
  <tr>
    <th><%= link_to 'Course Title ▼' , admin_index_path(:title => "title") %></th>
    <th>Category</th>
    <th>Units</th>
    <th>Time</th>
    <th>Status</th>
    <% if @access %>
      <th>Edit</th>
      <% if @access == 'admin' %>
        <% if params[:tab] == "pending" %>
          <th>Approve</th>
        <%else%>
          <th>Unapprove</th>
        <%end%>
      <% else %>
        <th>Unfacilitate</th>
      <% end %>
    <% end %>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.title, course, {:style=>'font-size: 120%;'} %></td>
      <td><%= course.category %></td>
      <td><%= course.units %></td>
      <td><% course.section_times.each do |time| %>
        <% if time.filled? %>
          <%= time.full_time %>
        <% else %>
          <%= 'TBA' %>
        <% end %>
        <br></br>
      <% end %>
      <td><%= course.status %></td>
      <% if @access %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= check_box_tag(course.title) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
