   <h3>Filter</h3>
<script type="text/javascript">
$(document).ready(function(){ 
    $('#myTab a[href="#title"]').tab('show');
    $("#myTab a").click(function(e){
      e.preventDefault();
      $(this).tab('show');
    });
});
</script>



  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked center" id="myTab">
        <li><a href="#title">Title</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#logistics">Logistics</a></li>
        <li><a href="#time">Time</a></li>
    </ul>
    <br/>
  </div>
  <div class="col-md-8">
    <div class="tab-content">

        <div id="title" class="tab-pane fade">
          <%= label_tag("SEARCH") %>
          <input type="text" class="form-control" placeholder="By title" id=<%= text_field_tag('search_field') %> </input>
        </div>

        <div id="categories" class="tab-pane fade">
     
          <%= label_tag("CATEGORIES") %>
               <%= select_tag 'category', options_for_select(['Select'] + Course.categories, params[:category]), :multiple => true, :class => 'form-control selectpicker' %>
        </div>

        <div id="logistics" class="tab-pane fade">
      
          <%= label_tag("Units:") %>
          <%= select_tag 'unit', options_for_select(['Select'] + Course.units, params[:units]), :multiple => true, :class => 'form-control selectpicker' %>
          <!--<% Course.units.each do |unit| %>
            <%= check_box_tag "units[#{unit}]", 1, params[:units] && params[:units].include?(unit) , id: unit %>
            <%= unit%>
          <% end %>-->
          <br/><br/>
          <%= label_tag("Status:") %>
          <%= select_tag 'status', options_for_select(['Select'] + Course.statuses, params[:status]), :class => 'form-control selectpicker'%>
        </div>

        <div id="time" class="tab-pane fade">
        
          
            <%= label_tag("Date:") %>
            <%= select_tag 'day', options_for_select(['Select'] + Section_time.all_days, params[:days]), :multiple => true, :class => 'form-control selectpicker' %>
            <!--<% Section_time.all_days.each do |day| %>
              <%= check_box_tag "days[#{day}]", 1, params[:days] && params[:days].include?(day), id: day %>
              <%= day%>
            <% end %> -->
         
          <br/><br/>
          
            <%= label_tag ("Starting Time") %>
            <%= select_tag 'start_time', options_for_select(Section_time.all_times, params[:start_time]), :class => 'form-control selectpicker' %>
            <br/><br/>


            <%= label_tag ("Ending Time") %>
            <%= select_tag 'end_time', options_for_select(Section_time.all_times, params[:end_time]), :class => 'form-control selectpicker' %>
        
        </div>
      
    </div>
    <br/>
  </div>
  
    <%= submit_tag "Filter", :class=>"btn btn-primary pull-right center" %>

<br/>


