
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <% if @more  %>
          <% if @more == 'approve' %>
            <th>Approve</th>
            <th>Reject</th>
          <% elsif @more == 'edit' %>
            <th>Remove</th>
          <% elsif @more == 'add' %>
            <th>Add</th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <% if @more %>
            <% if @more == 'approve' %>
              <td><%= button_to 'approve', course_facilitator_index_path(:course_id => @course.id, :user_id => user.id, :page => @page) %></td>
              <td><%= button_to 'reject', course_facilitator_delete_path(:course_id => @course.id, :user_id => user.id, :page => @page), method: :delete %></td>
            <% elsif @more == 'edit' %>
              <td><%= button_to 'remove', course_facilitator_delete_path(:course_id => @course.id, :user_id => user.id, :page => @page), method: :delete %></td>
            <% elsif @more == 'add' %>
              <td><%= button_to 'Add', course_facilitator_index_path(:course_id => @course.id, :user_id => user.id, :page => @page) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  
