
<%= form_for(@section, :url => course_section_path(:course_id => @course.id, :id => @section.id)) do |f| %>

    
    <% if !@section.errors.empty? %>
      <br/>
      <div id="error_explanation">
        <% @section.errors.full_messages.each do |msg| %>
          <li><%= "Error: " + msg %></li>
        <% end %>
      </div>
    <% end %>
  <br/><br/>
  <div class="box center70">
      <h3>Section Info</h3>
      <div><%= f.label :section_title, 'Section Title (e.g. "Section 1" or "Beginner"): ' %><%= f.text_field :section_title, :class => 'form-control' %></div><br/>
      <div><%= f.label :facilitator, 'Facilitator(s): ' %><%= f.text_field :facilitator, :class => 'form-control' %></div><br/>
      <div><%= f.label :ccn_ld, 'CCN (Lower Division): '  %><%= f.text_field :ccn_ld,:class => 'form-control'  %></div><br/>
      <div><%= f.label :ccn_ud, 'CCN (Upper Division): '  %><%= f.text_field :ccn_ud,:class => 'form-control'  %></div><br/>
      <div><%= f.label(:ccn_publish, "Publish CCNs?" ) %></div><div><%= f.check_box(:ccn_publish) %>Yes</div><br/>
      <div><%= f.label :size, 'Class Size (Estimate if unsure): '  %><%= f.text_field :size,:class => 'form-control selectpicker'  %></div><br/>
      <div><%= f.label(:status, "Enrollment status" ) %><br/><%= f.select :status, options_for_select(Section.statuses) %></div><br/>
    
  </div><br/>

  <div class="box center70">
      <h3>When and Where</h3>
      <div><%= f.label :first_day, 'First Day of Class (In MM/DD/YYYY format, like this: 11/29/2012): '  %><%= f.text_field :first_day, :class => 'form-control'  %></div><br/>
      <div><%= f.label :location, 'Where is it? (Like this: 320 Eshleman or 216 Dwinelle): '  %><%= f.text_field :location, :class => 'form-control'  %></div><br/>
      <%= label_tag("Class every ...") %>
      <%= select_tag 'section[days]', options_for_select(Section.all_days, params[:days]), :multiple => true, :class => 'form-control selectpicker'  %>
      <br></br>
      <%= label_tag ("Start after:") %>
      <%= select_tag 'section[start_time]', options_for_select(Section.all_times, "-Select Time-")  %>
      <%= label_tag ("End before:") %>
      <%= select_tag 'section[end_time]', options_for_select(Section.all_times, "-Select Time-")  %>

  </div><br/>
  <div class="center70">
    <div class="submit">
      <%= f.submit %>
    </div>
  </div>
<% end %>