  <div class="box">
    <%= field_set_tag 'WHAT IS THE COURSE LIKE?' do %>
      <div><%= f.label :description, 'COURSE DESCRIPTION: ' %><br/>
        A few paragraphs about your class - are there any papers or exams? What is the attendance policy? etc.<br/><br/>

        <%= f.text_area :description, :class => 'ckeditor' %>
      </div><br/>
      <div><%= f.label :enrollment_info, 'ENROLLMENT INFORMATION: ' %><br/>
        What's your policy? First come, first served? Interviews? Applications? Lottery?<br/><br/>

        <%= f.text_area :enrollment_info, :class => 'ckeditor' %>
      </div>
    <% end %>
  </div><br/>