  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div><br/>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, options_for_select(["- Select -"] + Course.categories) %>
  </div><br/>
  <div class="field">
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </div><br/>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(%w[Open Full]) %>
  </div><br/>