<div class="box">
  <%= field_set_tag 'GENERAL INFO' do %>
    <div><%= label_tag :section_title, 'Section Title (e.g. "Section 1" or "Beginner"): ', :class => 'field' %><%= text_field_tag :section_title, nil, :size => 35 %></div><br/>
    <div><%= label_tag :ccn_lower, 'CCN (Lower Division): ', :class => 'field'  %><%= text_field_tag :ccn_lower, nil, :size => 8 %></div><br/>
    <div><%= label_tag :ccn_upper, 'CCN (Upper Division): ', :class => 'field'  %><%= text_field_tag :ccn_upper, nil, :size => 8 %></div><br/>
    <div><%= check_box_tag(:show_ccn) %><%= label_tag(:show_ccn, "Yes, I want to publish my CCNs! (You will probably want to leave this unchecked)", :class => 'field' ) %></div><br/><br/>
    <div><%= label_tag :class_size, 'Class Size (Estimate if unsure): ', :class => 'field'  %><%= text_field_tag :class_size, nil, :size => 5 %></div><br/>
    <div><%= label_tag :class_size, 'Class Size (Estimate if unsure): ', :class => 'field'  %><%= text_field_tag :class_size, nil, :size => 5 %></div><br/>
    <div><%= check_box_tag(:class_full) %><%= label_tag(:class_full, "Yes, this class is now FULL", :class => 'field' ) %></div><br/>
  <% end %>
</div><br/>

<div class="box">
  <%= field_set_tag 'WHEN AND WHERE IS IT?' do %>
    <div><%= label_tag :first_day, 'First Day of Class (In MM-DD-YYYY format, like this: 11-29-2012): ', :class => 'field'  %><%= text_field_tag :first_day, nil, :size => 20 %></div><br/>
    <div><%= label_tag :location, 'Where is it? (Like this: 320 Eshleman or 216 Dwinelle): ', :class => 'field'  %><%= text_field_tag :location, nil, :size => 15 %></div><br/>
    <b>Class every...</b>
    <table class="std">
      <tr>
        <td><%= check_box_tag(:monday) %></td>
        <td><%= check_box_tag(:tuesday) %></td>
        <td><%= check_box_tag(:wednesday) %></td>
        <td><%= check_box_tag(:thursday) %></td>
        <td><%= check_box_tag(:friday) %></td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
      </tr>
    </table><br/>
    <div><%= label_tag :start_time, 'Start from: ', :class => 'field'  %><%= time_select 'start', 'start_time', {:ampm => true} %></div><br/>
    <div><%= label_tag :start_time, 'Ends At: ', :class => 'field'  %><%= time_select 'end', 'end_time', {:ampm => true} %></div><br/>

  <% end %>
</div>