<div class="center70">
<h1>Editing course</h1>
</div>
<% if @course.verify_facilitator? current_user %>
  <%= form_for(@course) do |f| %>
    <% if params[:step_1] %>
      <%= render 'courses/steps/page1', f: f %>
    <% elsif params[:step_2] %>
      <%= render 'courses/steps/page2', f: f %>
    <% else %>
      <%= render 'courses/steps/page3', f: f %>
    <% end %>
    <div class="center70">
      <nav>
        <ul class="pager">
          <li ><a href="<%=  @course %>"><span aria-hidden="true">&larr;</span>  Back</a></li>
          <%= f.submit "Update", :id => "update", :class => "btn btn-primary"  %>
        </ul>
        
      </nav>
    
  <% end %>
  </div>
<%end%>

