<h1>Listing Courses</h1>
<p><%= @test %></p>
<p><%= params %></p>
<%= form_for(courses_path, method: :get, id: 'units_form') do -%>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <b>Units</b>
  <% @all_units.each do |unit| %>
    <%= check_box_tag 'checked_units[]', unit, @selected_units[unit], id: unit%>
      <%= h unit%>
    <% end %>
  <b>Categories</b>
  <%= select_tag 'selected_categories[]', options_for_select(@all_categories, @selected_category)%>
  <b>Course Status</b>
  <%= select_tag 'selected_status[]', options_for_select(@all_status, @selected_status)%>
  <%= submit_tag "Search" %>
<% end %>


<table class="table table-striped">
  <tr>
    <th><%= link_to 'Course Title', courses_path(:title => "title") %></th>
    <th>Category</th>
    <th>Units</th>
     <th>Days</th>
    <th>Time</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.title %></td>
    <td><%= course.category %></td>
    <td><%= course.units %></td>
    <td><%= course.days %></td>
    <td><%= course.time %></td>
    <td><%= course.status %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
