<% if !@course.pending or @course.verify_facilitator? current_user %>
  <% if !@course.errors.empty? %>
    <div id="error_explanation">
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= "Error: " + msg %></li>
      <% end %>
    </div>
  <% end %>
  
  <% if @course.pending %>
    <div id="pending_info box">
      <% @uploads = @course.uploads %>
      <%= render 'course_request_uploads' %>
    </div>
    </br>
  <%end%>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h1><%= @course.title %></h1>  
    </div>
    <div class="panel-body">
      <p>
        <b>Category</b> <%= @course.category %><br></br>
        <b>Units</b> <%= @course.units %><br></br> 
      <% if @course.verify_facilitator? current_user %>
        <%= link_to 'Edit Course Info', edit_course_path(@course, :step_1 => true) %>
      <% end %>
      </p>
    </div>
  </div>

  <p>
    <%= field_set_tag 'About the Course' do %>
      <div><%= @course.description.html_safe %></div><br/>
      <% if @course.verify_facilitator? current_user %>
        <%= link_to 'Edit Course Description', edit_course_path(@course, :step_3 => true) %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= field_set_tag 'How to Enroll' do %>
      <div><%= @course.enrollment_info.html_safe %></div>
      <% if @course.verify_facilitator? current_user %>
        <%= link_to 'Edit Information', edit_course_path(@course, :step_3 => true) %>
      <% end %>
    <% end %>
  </p><br/>

  <h2>Apply For Course</h2>
  <div class="application">
    <% if !@course.application_url.blank? %>
      <b><%= (@course.application_due - Date.today).to_int %> days left until application deadline!</b><br/><br/>
      <%= button_to 'Start Application', @course.application_url, form: {target: '_blank'}, :method => :get %><br/>
      <% if  @course.verify_facilitator? current_user  %>
        <%= link_to 'Edit Application', edit_course_path(@course, :step_1 => true), :method => :get %>
        <br/><br/>
      <% end %>
      <br/>
    <% else %>
      <fieldset><legend><h5>No application has been added to this course yet</h5></legend></fieldset>
      <% if  @course.verify_facilitator? current_user  %>
        <%= link_to 'Edit Application', edit_course_path(@course, :step_1 => true), :method => :get %>
        <br/><br/>
      <% end %>
    <% end %>
  </div>

  <h2>Sections</h2>
  <div class="sections">
    <% @sections = @course.sections %>
    <% if !@sections.blank? %>
      <%= render 'shared/section_table' %>
      <br/>
      <% if  @course.verify_facilitator? current_user  %>
        <%= button_to 'Add Section', {:controller => :sections, :action => 'new', :course_id => @course.id}, :method => :get %>
        <br/><br/>
      <% end %>
    <% else %>
      <fieldset><legend><h5>No section has been created for this course yet</h5></legend></fieldset>
      <% if  @course.verify_facilitator? current_user  %>
        <%= button_to 'Add Section', {:controller => :sections, :action => 'new', :course_id => @course.id}, :method => :get %>
        <br/><br/>
      <% end %>
    <% end %>
  </div>

  <h2> Current Facilitators </h2>
  <div class="current_facilitators">
    <% @more = 'edit' %>
    <% @users = @course.facilitators %>
    <%= render 'shared/user_table' %>
    <br/><br/>
    <% if @course.verify_facilitator? current_user %>
      <%= link_to "Add Facilitators", course_facilitator_index_path(:course_id => @course.id), :method => :get %>
    <% end %>
    <br/><br/>
  </div>

  <h2> Facilitator Requests </h2>
  <div class="facilitator_requests">
    <% if @course.verify_facilitator? current_user %>
      <% @users = @course.requests %>
      <% if !@users.empty? %>
        <% @more = 'approve' %>
        <%= render 'shared/user_table' %>
      <% else %>
        <h5>There are no new requests to facilitate this course</h5>
      <%end%>
    <% else %>
      <% if @course.requests.include? current_user %>
        <h5>You have already requested to become a facilitator for this course</h5>
      <% else %>
         <%= button_to 'Request to be Facilitator', course_facilitator_request_path(:course_id => @course.id), {:class => "btn btn-primary"} %>
      <% end %>
    <% end %>
    <br/><br/>
  </div>

  <h2>Files</h2>
  <div class="uploads">
    <% @uploads = @course.uploads %>
    <%= render 'shared/upload_table' %>
    <br/>
    <% if @course.verify_facilitator? current_user %>
      <%= button_to "New Upload", {:controller => :uploads, :action => 'new', :course_id => @course.id}, :method => :get %>
      <br></br>
    <% end %>
  </div>
  <br/>

<%else%>
  <h1>This course has not been approved by the admin.</h1>
<%end%>

<%= link_to 'Back', courses_path %>
