<p id="notice"><%= notice %></p>

<p>
  <h1><%= @course.title %></h1>
</p>

<% if !@course.sections.blank? %>
  <table class="std">
    <thead>
      <tr>
        <th>Section</th>
        <th>Facilitator</th>
        <th>Size</th>
        <th>Location</th>
        <th>Time</th>
        <th>Starts</th>
        <th>Status</th>
        <th>
          <abbr title="Course Control Numbers">CCNs</abbr>
        </th>
        <% if current_user.try(:facilitator?) %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @course.sections.each do |section| %>
        <tr>
          <td>
            <% if !section.section_title.blank? %>
              <%= section.section_title %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.facilitator.blank? %>
              <%= section.facilitator %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.size.blank? %>
              <%= section.size %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.location.blank? %>
              <%= section.location %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.first_day.blank? %>
              <%= section.first_day %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.first_day.blank? %>
              <%= section.first_day %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.status.blank? %>
              <%= section.status %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <td>
            <% if !section.ccn_ld.blank? %>
              <%= section.ccn_ld %>
            <% else %>
              <%= '--' %>
            <% end %>
          </td>
          <% if current_user.try(:facilitator?) %>
            <td>
              <%= button_to "delete", {:controller => :sections, :action => 'destroy', :id => section.id, :course_id => @course.id }, :method => :delete, "onclick" => "javascript:return confirm('Are you absolutely sure you want to delete?')" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table><br/>
  <%= button_to 'Add Section', {:controller => :sections, :action => 'new', :course_id => @course.id}, :method => :get %>
<% else %>
  <fieldset><legend><h5>No section has been created for this course yet</h5></legend></fieldset>
  <%= button_to 'Add Section', {:controller => :sections, :action => 'new', :course_id => @course.id}, :method => :get %>
<% end %>
<br/><br/>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
