

<% if !@course.pending or @course.verify_facilitator? current_user %>
  <% if @course.verify_facilitator? current_user %>
   

    <div class="col-md-12"> 
     
      <% if !@course.errors.empty? %>
        <div id="error_explanation">
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= "Error: " + msg %></li>
          <% end %>
        </div>
      <% end %>
       <h1>Tools</h1> 
      <% if @course.pending %>
        <div id="pending_info box">
          <% @uploads = @course.uploads %>
          <%= render 'course_request_uploads' %>
        </div>
      <%end%>

      <div class="col-md-3">
        <h3>Edit Info</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Course Info', edit_course_path(@course, :step_1 => true),:class => "btn btn-primary" %></li>
          <li><%= link_to 'Course Description', edit_course_path(@course, :step_2 => true),:class => "btn btn-primary" %></li>
          <li><%= link_to 'Enrollment Information', edit_course_path(@course, :step_3 => true),:class => "btn btn-primary" %></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3>Add More</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Sections', {:controller => :sections, :action => 'new', :course_id => @course.id}, :method => :get,:class => "btn btn-primary" %></li>
          <li><%= link_to "Facilitators", course_facilitator_index_path(:course_id => @course.id), :method => :get, :class => "btn btn-primary" %></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3>Facilitator Requests</h3>
        <% @users = @course.requests %>
        <% if !@users.empty? %>
          <% @more = 'approve' %>
          <%= render 'shared/user_table' %>
        <% else %>
          <h5>There are no new requests to facilitate this course</h5>
        <%end%>
      </div>
    </div>
    <%end%>


  <div class="col-md-12">
    <% if @course.verify_facilitator? current_user %>
      <br/>
     <div class="line"/>
    <%end%>

    <div class="row">
      <div class="col-md-4">
        <h1><%= @course.title %></h1>
        <% if !@course.favorite_users.include? current_user%>
          <%= button_to "Add to Favorites", {:controller => :courses, :action => 'favorites', :id => @course.id}, :method => :post, :class => "btn btn-primary" %></h1><br/>
        <% else %>
          <h5>You have favorited this course</h5>
        <% end %>
      </div>

      <div class="col-md-2">
        <h4><b>Semester</b></h4><%= @course.semester %> 
      </div>
      <div class="col-md-2">
        <h4><b>Course</b></h4><%= @course.department_num %>
      </div>
      <div class="col-md-2">
        <h4><b>Category</b></h4><%= @course.category %>
      </div>
      <div class="col-md-2">
        <h4><b>Units</b></h4><%= @course.units %>
      </div>

      <% if !@course.application_url.blank? %>
        <div class="col-md-2">
            <h4><b>Apply By</b></h4>
              <%= (@course.application_due) %> 
        </div>
      <%end%>

      <div class="col-md-2">
        <h4><b>Contact Email</b></h4><%= @course.course_email %><br/>
      </div>

      <% if !@course.course_website.blank? %>
        <div class="col-md-2">
          
            <h4><b>Course Website</b></h4><a href="<%= @course.course_website %>" target="_blank"><%= @course.course_website %></a><br/>
        
        </div>  
      <%end%>

    </div>   

    <div class="page-header">
      <h3>About the Course</h3>
      <div><%= @course.description.html_safe %></div>
    </div>

    <div class="page-header">
      <h3>How to Enroll</h3>
      <div><%= @course.enrollment_info.html_safe %></div>
    </div>

    <div class="page-header">
      <h3>Section</h3>
      <% @sections = @course.sections %>
        <%= render 'shared/section_table' %>
    </div>

    <div class="page-header">
      <h3>Current Facilitators</h3>
      <div class="current_facilitators">
        <% @more = 'edit' %>
        <% @users = @course.facilitators %>
        <%= render 'shared/user_table' %>
      </div>
      <% if !@course.facilitators.include? current_user%>
        <% if @course.requests.include? current_user %>
          <h5>You already requested to become a facilitator for this course</h5>
        <%else%>
           <%= button_to 'Request to be Facilitator', course_facilitator_request_path(:course_id => @course.id), {:class => "btn btn-primary"} %>
        <% end %>
      <%end%>
    </div>



    <div class="page-header">
      <h3>Files</h3>
      <div class="uploads">
        <% @uploads = @course.uploads %>
        <%= render 'shared/upload_table' %>
        <% if @course.verify_facilitator? current_user %>
          <%= button_to "New Upload", {:controller => :uploads, :action => 'new', :course_id => @course.id}, :method => :get %>
        <% end %>
      </div>
    </div





<%else%>
  <h1>This course has not been approved by the admin.</h1>
<%end%>
