<!DOCTYPE html>
<html>

  <head>
    <title>DeCal</title> <%= stylesheet_link_tag    "bootstrap-select", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
     <%= stylesheet_link_tag    "decal", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>


    <%= stylesheet_link_tag    "bootstrap-select", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <%= javascript_include_tag "application", :media =>"all" %>

    <%= javascript_include_tag "bootstrap", :media =>"all" %>
    <%= javascript_include_tag "bootstrap-select", :media =>"all" %>



    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="header">
      <nav class="navbar navbar-default shadow">
        <div class= "container">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img alt="Brand" src="/assets/branding/logo.png" width="80" class="img-responsive"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
           
                <li class="<%= is_active?(courses_path) %>"><a href="/courses">COURSES</a></li>
                <li class="<%= is_active?(dashboard_index_path) %>"><a href="/dashboard">DASHBOARD</a></li>
                <% if current_user.try(:admin?) %>
                <li class="<%= is_active?(admin_index_path) %>"><a href="/admin">ADMIN</a></li>
                <%end%>

                <li><a>EXPO</a></li>
                <li><a>INTERN</a></li>
                <li><a>ABOUT</a></li> 
                <li><a>HELP</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="<%= new_user_registration_path %>"><b>SIGNUP</b></a></li>
                <li><a href="<%= user_omniauth_authorize_path(:google_oauth2) %>"><b>SIGNIN</b></a></li>
              </ul>


                
                <!--<li><%= link_to "FACILITATE", dashboard_index_path %></li>-->
                <!--
                <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <li><%= link_to 'Edit profile', edit_user_registration_path  %></li>
                <li><a><b>|</b></a></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li><li><a><b>|</b></a></li>
                <li><%= link_to "@berkeley.edu Sign In", user_omniauth_authorize_path(:google_oauth2)%></li>
                <li><%= link_to "Sign In", new_user_session_path%></li>
                <% end %> -->


              </ul>


              </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </div>
          </nav>
        </header>
        <div class="container">
          <div class="pull-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
            <!--   <%= link_to 'Edit profile', edit_user_registration_path  %> -->
              <b>|</b>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %>
              <b>|</b>
              <%= link_to "Sign in with Berkeley", user_omniauth_authorize_path(:google_oauth2)%>
              <b>|</b>
              <%= link_to "Sign in", new_user_session_path%>
            <% end %>
          </div>
          
          <% if notice %>
            <br/>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <br/>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          
          <%= yield %>
          <!-- end of header -->
        </div>
      </body>
    </html>

